html{
    text-align:center;
    font-size:40px;
    font-family:arial;
}

body {
    margin:0;
    padding:0;
}

.slider{
    width:95%;
}
.slider::-moz-range-track {
  height: 30px;
  width: 98%;
  background: #aa0486;
  border-radius:10px
}
.slider::-moz-range-thumb {
  height: 50px;
  width: 50px;
  background: #04AA6D;
  border-radius: 50%;
}

input[type="number"]{
    width:10%;
    height:50px;
    font-size:20px;
    text-align:center;
}
select{
    height:50px;
    font-size:20px;
}
p1{
    font-size:20px;
}

h1{
    margin-top:0;
    margin-bottom:0;
}



.header{
    position:sticky;
    margin:0;
    background-color:aquamarine;
    width:100%;
    top:0;
    padding:10px;
    font-size:20px;
}
